These are all your inputs:

simple_dropdown has value: {{ simple_dropdown | default('No value') }}

simple_dynamic_text has value: {{ simple_dynamic_text | default('No value') }}

simple_dynamic_text_inverse has value: {{ simple_dynamic_text_inverse |  default('No value') }}

simple_list has value: {{ simple_list | default('No value') }}

file_input has value: {{ file_input | default('No value') }}

text_with_validation has value: {{ text_with_validation | default('No value') }}

password_entry has value: {{ password_entry | default('No value') }}

ip_address has value: {{ ip_address | default('No value') }}

fqdn_entry has value: {{ fqdn_entry | default('No value') }}

url_entry has value: {{ url_entry | default('No value') }}

cidr_entry has value: {{ cidr_entry | default('No value') }}

email_entry has value: {{ email_entry | default('No value') }}

number_entry has value: {{ number_entry | default('No value') }}

float_entry has value: {{ float_entry | default('No value') }}

text_area has value: {{ text_area | default('No value') }}

json_string has value: {{ json_string | default('No value') }}

disabled_entry has value: {{ disabled_entry | default('No value') }}

radio_entry has value: {{ radio_entry | default('No value') }}

hidden_entry has value: {{ hidden_entry | default('No value') }}


