These are all your inputs:

simple_dropdown has value {{ simple_dropdown }}
simple_dynamic_text has value {{ simple_dynamic_text }}
simple_dynamic_text_inverse has value {{ simple_dynamic_text_inverse }}
simple_list has value {{ simple_list }}
file_input has value {{ file_input }}
text_with_validation has value {{ text_with_validation }}
password_entry has value {{ password_entry }}
ip_address has value {{ ip_address }}
fqdn_entry has value {{ fqdn_entry }}
url_entry has value {{ url_entry }}
cidr_entry has value {{ cidr_entry }}
email_entry has value {{ email_entry }}
number_entry has value {{ number_entry }}
float_entry has value {{ float_entry }}
text_area has value {{ text_area }}
json_string has value {{ json_string }}
disabled_entry has value {{ disabled_entry }}
radio_entry has value {{ radio_entry }}
hidden_entry has value {{ hidden_entry }}

